<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="registration.css">
</head>
<body>
<div class = "heading">
    <p class = header><b>Become FernWealth Partner in just 60 seconds</b></p>
</div>
<form action="" method="" id="registerform">
    <fieldset>
        <legend><strong>Your account is created successfully</strong></legend>
        
        <label for="partnerID">Partner Code: </label>
        <input type="number" id="partnerID" name="partnerID"><br>
        <p class = "info">or sign in via Email ID</p>
        <label for="emailID">Email ID: </label>
        <input type="email" id = "emailID" name="emailID"><br><br>
        <label for="setpass">Set Password: </label>
        <input type="password" id = "setpass" name="setpass"><br><br>
        <label for="checkpass">Re-enter Password: </label>
        <input type="password" id = "checkpass" name="checkpass"><br><br><br><br>
        <div class="button">
            <button type="submit" form="registerform" value="Submit">Submit</button>
        </div>
    </fieldset>
</form>
<div class = "image">
    <img src = "download.jfif" alt="image" width="700px" height="420px">
</div>
<div class="link">
    <a href="url">Already have an account ?<u>Click to login</u></a>
</div>
</body>
</html>